:root {
    box-sizing: border-box;
    font-size: $default-font-size;

    @include color-variables;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Helvetica Neue;
    background-color: var(--color-red);
}

h3 {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin: 0.2em 0;
    font-weight: normal;
}
