:root {
    box-sizing: border-box;
    font-size: $default-font-size;

    @include color-variables;

    @media (min-width: $screen-md) {
        font-size: $desktop-font-size;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Helvetica Neue, Helvetica, sans-serif;
    line-height: 1.4;
    letter-spacing: 0.04em;
    color: var(--color-text);
    background-color: var(--color-black);
}

@mixin headerFont {
    margin: 0.1em 0;
    font-weight: normal;

    @media (min-width: em(375)) {
        margin: 0.4em 0;
    }
}

h1 {
    @include headerFont;
    font-size: 3.2rem;

    @media (min-width: $screen-md) {
        font-size: 2rem;
    }
}

h2 {
    @include headerFont;
    font-size: 2.5rem;
}

h3 {
    @include headerFont;
    font-size: 2rem;
}

h4 {
    @include headerFont;
    font-size: 1.4rem;
    text-transform: uppercase;

    @media (min-width: $screen-md) {
        font-size: 1.1rem;
    }
}

h5 {
    @include headerFont;
    font-size: 1.4rem;

    @media (min-width: $screen-md) {
        font-size: 1rem;
    }
}

a {
    text-decoration: none;
    color: var(--color-text);
}
