@mixin color-variables {
    --color-red: #F04239;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-text: #333333;
    --color-text-shadow: #383838;
    --color-gray: #808080;
    --color-active-btn: #1b1b1b;
    --color-line: #0000004d;
}
