@font-face {
    font-family: "Helvetica Neue";
    src: local("Helvetica Neue 45"),
         local("Helvetica-Neue45"),
         local("Helvetica-Neue-45"),
         url("../assets/fonts/HelveticaNeue45.ttf");
}

@font-face {
    font-family: "Fjalla One";
    src: local("FjallaOne-Regular"),
         local("FjallaOne Regular"),
         local("Fjalla One Regular"),
         url("../assets/fonts/FjallaOne-Regular.ttf");
}
