@import "@styles/_variables.scss";

.PastEvents {
    @media (min-width: $screen-md) {
        margin-top: 1em;
    }

    &__title {
        @media (min-width: $screen-md) {
            text-align: center;
            margin: 1em 0;
        }
    }

    &__list {
        @media (min-width: $screen-md) {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
            grid-auto-rows: 1fr;
            grid-gap: 1em;
            grid-auto-flow: dense;
            padding: 0 2em;
        }
    }

    &__img {
        width: 100%;
        height: auto;
    }

    &__img + &__img {
        margin-top: 1em;

        @media (min-width: $screen-md) {
            margin-top: 0;
        }
    }
}
