@import "@styles/_functions.scss";
@import "@styles/_variables.scss";

.Layout {
    padding: 1em;

    @media (min-width: $screen-md) {
        padding-top: 0;
    }

    &__container {
        padding: 1em 0;
        display: grid;
        grid-template-areas: "now"
                             "upcoming"
                             "brand"
                             "links"
                             "about";
        grid-template-columns: 1fr;
        gap: 1.5em;
        margin: 0 auto;

        @media (min-width: $screen-md) {
            padding-left: 13.5em;
            padding-right: 13.5em;
            row-gap: .4em;
            column-gap: 1.5em;

            grid-template-areas: "now upcoming"
                                 "about empty"
                                 "links brand";
            grid-template-columns: 1fr 1fr;
        }
    }

    &__background {
        background-image: url('../../assets/images/bckg_mobile.png');
        background-size: cover;
        margin: -1em;
        padding: 1em;

        @media (min-width: $screen-md) {
            height: 100vh;
            background-image: url('../../assets/images/bckg_desktop.svg');
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }

    &__title {
        $title: &;
        padding: 1em 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Helvetica Neue, sans-serif;
        text-shadow: em(0.9) em(0.9) em(1.5) var(--color-text-shadow);
        text-transform: uppercase;

        @media (min-width: $screen-md) {
            padding-top: 4em;
            padding-bottom: 0;
        }

        &-text {
            line-height: 1;
            font-size: 3.4rem;
            letter-spacing: -0.02em;

            @media (min-width: $screen-iphone-6) {
                font-size: 3.8rem;
            }

            @media (min-width: $screen-md) {
                font-size: 5rem;
            }
        }

        &-sub {
            font-size: 1.45rem;
            line-height: 1;
            margin-left: 0.1em;
            margin-top: -0.3em;

            @media (min-width: $screen-iphone-6) {
                margin-top: -0.498em;
                font-size: 1.56rem;
            }

            @media (min-width: $screen-md) {
                margin-top: -0.4em;
                font-size: 2.08rem;
            }
        }

        &_fail {
            #{$title}-text {
                font-size: 3rem;
            }

            #{$title}-sub {
                font-size: 1.1rem;
                line-height: 1.08;
            }
        }
    }

    &__now {
        grid-area: now;
    }

    &__upcoming {
        grid-area: upcoming;

        &-header {
            font-size: 2.5rem;

            @media (min-width: $screen-md) {
                margin-top: 1em;
                font-size: 2rem;
            }
        }

        &-description {
            font-size: 2rem;

            @media (min-width: $screen-md) {
                font-size: 1.3rem;
            }
        }
    }

    &__brand {
        grid-area: brand;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__links {
        grid-area: links;
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        cursor: pointer;
    }

    &__about {
        grid-area: about;
    }

    &__past {
        @media (min-width: $screen-md) {
            margin-top: 1em;
        }

        &-title {
            @media (min-width: $screen-md) {
                text-align: center;
                margin: 1em 0;
            }
        }

        &-list {
            @media (min-width: $screen-md) {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                grid-auto-rows: 1fr;
                grid-gap: 1em;
                grid-auto-flow: dense;
                padding: 0 2em;
            }
        }

        &-img {
            width: 100%;
            height: auto;
        }

        &-img + &-img {
            margin-top: 1em;

            @media (min-width: $screen-md) {
                margin-top: 0;
            }
        }
    }

    &__line {
        width: 90%;
        margin: 1.2em auto;
        border-bottom: 1px solid var(--color-line);
    }

    &__footer {
        grid-area: footer;

        &-img {
            width: 100%;
        }
    }
}
