@import "@styles/_functions.scss";

.Layout {
    background-image: url('../../assets/images/bckg_mobile.png');
    background-size: cover;
    padding: 1.5em 1em;

    @media (min-width: 35em) {
        background-image: url('../../assets/images/bckg_desktop.png');
        background-size: 100%;
    }

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Fjalla One;
        text-shadow: em(0.8) em(0.8) var(--color-text-shadow);
        text-transform: uppercase;

        &-text {
            height: 0.9em;
            line-height: 1;
            font-size: 4.4rem;

            @media (min-width: em(375)) {
                font-size: 5rem;
            }
        }

        &-sub {
            font-size: 1.96rem;
            line-height: 1;
            margin-left: 0.1em;

            @media (min-width: em(375)) {
                font-size: 2.1rem;
            }
        }

        &_tv {
            color: var(--color-gray);
        }
    }
}
