@import "@styles/_functions.scss";
@import "@styles/_variables.scss";

.Layout {
    padding: 1em;

    &__background {
        background-image: url('../../assets/images/bckg_mobile.png');
        background-size: cover;
        margin: -1em;
        padding: 1em;

        @media (min-width: $screen-md) {
            background-image: url('../../assets/images/bckg_desktop.png');
            background-size: 100%;
        }
    }

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Fjalla One;
        text-shadow: em(0.9) em(0.9) em(0.5) var(--color-text-shadow);
        text-transform: uppercase;

        &-text {
            height: 0.9em;
            line-height: 1;
            font-size: 4.4rem;

            @media (min-width: em(375)) {
                font-size: 5rem;
            }
        }

        &-sub {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 1.7rem;
            line-height: 1.08;
            margin-left: 0.1em;

            &_tv {
                color: var(--color-gray);
            }
        }
    }

    &__brand {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__links {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        font-size: 1.3rem;
        cursor: pointer;
    }

    &__about {
        font-size: 1.2rem;
    }

    &__past {
        &-img + &-img {
            margin-top: 1em;
        }

        &-img {
            width: 100%;
            height: auto;
        }
    }

    &__line {
        width: 90%;
        margin: auto;
        border-bottom: 1px solid var(--color-line);
    }

    &__footer {
        width: 100%;
    }
}
