@import "@styles/_variables.scss";

.Player {
    &__now {
        display: flex;
        flex-direction: column;
        text-shadow: em(0.8) em(0.8) em(0.5) var(--color-text-shadow);
    }

    &__text {
        min-height: 2.2em;
    }

    &__button {
        padding: 0.9em;
        margin-top: 0.6em;
        width: 100%;
        font-size: 2.2rem;
        font-style: italic;
        background-color: var(--color-black);
        color: var(--color-white);
        text-shadow: em(0.8) em(0.8) var(--color-text-shadow);
        border: none;
        user-select: none;
        cursor: pointer;

        &:hover {
            background-color: var(--color-active-btn);
        }

        &:focus {
            outline: none;
        }

        @media (min-width: $screen-md) {
            margin-top: 0.35em;
            font-size: 1.44rem;
        }
    }
}
